* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: calc(100vh - 105px);
}

.container_general {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.box {
    color: white;
}

.menu_laterale {
    height: 100%;
    width: 250px;
    background-color: #010001;
}

.song {
    width: calc( 100% - 250px );
    height: 100%;
    background-color: #151923;
    overflow-y: auto;
    overflow-x: hidden;
}

.upgrade {
    width: 88%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
}

.button_upgrade {
    margin: 40px 50px 0 0;
}

.button_upgrade a{
   color: white;
   text-decoration: none;
   border: 1px solid white;
   padding: 15px 35px;
   border-radius: 25px;
   text-transform: uppercase;
}

.button_upgrade a:hover {
    font-size: 20px;
}

.logo img{
    padding: 10px 60px 20px 10px;
}

.logo img:last-child {
    display: none;
}

.cl {
    color: #6c6c6d;
}

.cl:hover {
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.home {
    border-left: 3px solid green;
    padding-left: 25px;
}
 
.cerca, 
.libreria {
    padding: 0 0 0 25px;
}

.libreria {
    margin-bottom: 30px;
}

.home img,
.cerca img, 
.libreria img {
    padding-right: 10px;
}

.container img{
    height: 40px;
}

.container span {
    display: flex;
    align-items: center;
}

.playlist {
    padding: 0 0 0 25px;
    min-height: 400px;
}

.playlist span:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.add {
    display: flex;
    flex-direction: row;
}

.add span {
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.add .fa-square-plus {
    font-size: 30px;
}

.nome_playlist p{
    padding: 13px 0;
    font-size: 18px;
}

.aside-top
{
    height:calc( 100% - 80px );
}

.user_add_app {
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
    height: 80px;
}

.App {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.User {
    margin-top: 10px;
}

.User img {
    height: 30px;
    background-color: gray;
    border-radius: 50px;
}

.nav_superiore {
    margin: 130px auto 0 auto;
}

.nav_superiore ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav_superiore li {
    list-style-type: none;
    text-transform: uppercase;
    color: #6c6c6d;
}

ul li:first-child {
    padding-bottom: 5px;
    border-bottom: 2px solid green;
}

li:hover {
    cursor: pointer;
    color: white;
}

.recently_played {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    min-height: 350px;
}

.recently_played_title{
    font-size: 30px;
    margin: 30px 0 0 40px;
}

.cover {
    float: left;
}

.cover, .box_img {
    height: 320px;
    width: 225px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.box_img {
    transition: grayscale 5s;
}

.box_img:hover {
    cursor: pointer;
    filter: grayscale(100%)
}

.box_img:hover .fa-play-circle {
    display: block;
}

.cover p {
    text-align: center;
    padding-top: 10px;
}

.cover p:last-child {
    color: #6c6c6d;
}

.box_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_img img {
    height: 225px;
}

.box_img i {
    font-size: 60px;
    display: none;
}

.box_img i:hover {
    display: block;

}

.box_img i {
    position: absolute;
}

.ForYou_title, .Artist_title {
    margin: 0 0 30px 40px;
}

.ForYou_title h3, .Artist_title h3 {
    margin-bottom: 10px;
}

.ForYou_title p, .Artist_title p {
    color: #6c6c6d;
}

.For_you_img, .Artist {
    width: 95%;
    height: 290px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.Radar_release, .Artist_1 {
    height: 225px;
    width: 225px;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.Radar_release p{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}

.Artist_1 img {
    border-radius: 50%;
}

.Artist_1 p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.container_footer {
    width: 100%;
    height: 105px;
    background-color: #282929;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.brano {
    display: flex;
    align-items: center;
}

#cont_brano {
    display: flex;
    flex-direction: row;
}

.like_folder {
    display: flex;
    align-items: center;
}

/*Modificata l'immagine per una miglior estetica */

.brano img {
    height: 70px;
    border-radius: 15px;
    margin-left: 10px;
}

.testo {
    padding-left: 10px;
}

.testo div:first-child {
    color: white;
}

.testo div:last-child {
    color: #6c6c6d;
}

.testo div:last-child:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.audio {
    width: 350px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.like, .folder {
    padding: 0 10px;
    color: #6c6c6d;
    font-size: 20px;
}

.command {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-random, .fa-backward-step, .fa-forward-step, .fa-arrow-rotate-right{
    font-size: 25px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.button_command {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-play-circle {
    width: 60px;
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 5px 5px;
}

.button_command .fa-play-circle:hover {
    font-size: 50px;
    z-index: 2;
    cursor: pointer;
}


.barra_musicale {
    height: 3px;
    background-color: #6c6c6d;
    width: 70%;
}

.barra_avanzamento:hover {
    background-color: green;
    cursor: pointer;
    
}

.barra_avanzamento:hover .puntino {
    display: block;
}

.barra_avanzamento {
    height: 100%;
    width: 20%;
    background-color: white;
    position: relative;
}

.puntino {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50px;
    display: none;
}

.comandi_audio {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.comandi_audio i {
    padding: 0 10px;
}

.volume_1 {
    height: 3px;
    background-color: #6c6c6d;
    width: 60%;
}

@media screen and (max-width: 420px) {

    .menu_laterale {
        width: 80px;
    }

    .song {
        width: calc( 100% - 80px );
    }

    .menu_superiore {
        
    }

    .logo img:first-child {
        display: none;
    }

    .logo img:last-child {
        display: block;
        height: 70px;
        padding: 8px 20px 15px 20px;
    }

    .container span {
        display: none;
    }

    .home {
        padding-left: 20px;
    }

    .playlist {
        display: none;
    }

    .aside-top {
        height: calc( 100% - 90px );
    }

    .App span, .User span {
        display: none;
    }

    .App i {
        font-size: 30px;
    }
}