* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_general {
    display: flex;
    flex-direction: row;
}

.box {
    background-color: brown;
}

.menu_laterale {
    width: 15%;
    height: 90vh;
}

.song {
    width: 85%;
    height: 90vh;
}

.upgrade {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.button_upgrade a{
   color: white;
   text-decoration: none;
   border: 1px solid white;
   padding: 10px 20px;
   border-radius: 25px;
   text-transform: uppercase;
   display: block;
}

.logo_mini_menu {
    padding: 10px;
}

.logo {
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.container img{
    height: 40px;
}

.container span {
    display: flex;
    align-items: center;
}

.container_footer {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
}