* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_general {
    display: flex;
    flex-direction: row;
}

.box {
    color: white;
}

.menu_laterale {
    width: 15%;
    height: 90vh;
    background-color: #010001;
}

.song {
    width: 85%;
    height: 90vh;
    background-color: #151923;
}

.upgrade {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.button_upgrade a{
   color: white;
   text-decoration: none;
   border: 1px solid white;
   padding: 10px 20px;
   border-radius: 25px;
   text-transform: uppercase;
   display: block;
}

.logo {
    padding: 10px;
}

.cl {
    color: #6c6c6d;
}

.cl:hover {
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.home {
    border-left: 3px solid green;
    padding: 10px;
}
 
.logo, 
.cerca, 
.libreria {
    padding: 10px;
}

.container img{
    height: 40px;
}

.container span {
    display: flex;
    align-items: center;
}

.playlist {
    padding: 10px;
}

.playlist span:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.add {
    display: flex;
    flex-direction: row;
}

.add span {
    padding-left: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.add .fa-square-plus {
    font-size: 50px;
}

.nome_playlist p{
    padding: 15px 0;
    font-size: 20px;
}













.container_footer {
    height: 10vh;
    width: 100vw;
    background-color: #282929;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.brano {
    width: 20%;
    display: flex;
    align-items: center;
}

.like_folder {
    display: flex;
    align-items: center;
}

/*Modificata l'immagine per una miglior estetica */

.brano img {
    height: 70px;
    border-radius: 15px;
    margin-left: 10px;
}

.testo {
    padding-left: 10px;
}

.testo div:first-child {
    color: white;
}

.testo div:last-child {
    color: #6c6c6d;
}

.comand {
    width: 60%;
    background-color: brown;
}

.audio {
    width: 20%;
    background-color: blue;
}

.like, .folder {
    padding: 0 10px;
    color: #6c6c6d;
    font-size: 20px;
}


